@use "../Foundation/mixin" as *;
@use "../global/variables" as *;
.l-header {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 9999;

  @include mq("pc") {
    width: 95%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.l-header__wrapper {
  padding-left: 10px;
  padding-right: 10px;

  @include mq("pc") {
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 0;
  }
}

.l-header__sp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq("pc") {
    width: 0%;
  }
}

.l-header__logo {
}

.l-header__logo-img {
}

// ハンバーガーメニューのスタイル
.l-header__hamburger-menu {
  @include mq("pc") {
    display: none;
  }

  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  background: #fff;
  cursor: pointer;
  width: 40px;
  height: 50px;
  border-radius: 5px;

  span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    right: 0;
    height: 2px;
    border-radius: 5px;
    background: $main-color;
    width: 20px;

    &:nth-of-type(1) {
      top: 13px;
    }

    &:nth-of-type(2) {
      top: 20px;
    }

    &:nth-of-type(2)::after {
      content: "Menu"; /*3つ目の要素のafterにMenu表示を指定*/
      position: absolute;
      top: 5px;
      left: -2px;
      color: $main-color;
      font-size: 10px;
      text-transform: uppercase;
      font-family: $font-family;
    }
  }
}

.l-header__hamburger-menu.is-active {
  span:nth-of-type(1) {
    top: 12px;
    right: 0;
    transform: translateY(6px) rotate(-35deg);
    width: 50%;
  }
  span:nth-of-type(2) {
    top: 24px;
    right: 0px;
    transform: translateY(-6px) rotate(35deg);
    width: 50%;
  }
  span:nth-of-type(2)::after {
    content: "Close"; /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-36deg);
    top: 5px;
    left: 4px;
  }
}

.l-header__logo-link {
  img {
    width: 116px;
  }

  @include mq("pc") {
    img {
      width: 169px;
    }
  }
}

.l-header__logo-img {
}

.l-header__nav {
  display: none;

  @include mq("pc") {
    display: flex;
    align-items: center;
    gap: 21px;
  }
}

.l-header__nav-list {
  gap: 20px;
  flex-direction: row;
}

.l-header__nav-item {
}

.l-header__nav-link {
  color: #3b4043;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.l-header__button {
  text-align: center;
  width: 148px;
  padding: 16px 26px;
  background-color: #f7b560;
  border-radius: 24px;
  p {
    font-weight: bold;
    color: #ffffff;
  }
}

.l-hamburger-content {
  opacity: 0;
  height: 0;
  pointer-events: none;

  @include mq("pc") {
    display: none;
  }
}

.l-hamburger-content.is-active {
  opacity: 1;
  height: calc(100vh - 50px);
  pointer-events: auto;
  top: 0;
}

.l-hamburger-content__wrapper {
  padding-left: 14px;
  padding-right: 15px;
}

.l-hamburger-content__menu {
}

.l-hamburger-content__list {
}

.l-hamburger-content__item {
}

.l-hamburger-content__link {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $main-color;
}

.l-hamburger-content__box {
  gap: 10px;
}

.l-hamburger-content__group {
}

.l-hamburger-content__title {
  color: #3b4043;
  font-weight: bold;
}

.l-hamburger-content__subtitle {
  color: #f7b560;
  font-size: 12px;
  font-family: $font-family;
}

.l-hamburger-content__arrow {
}

.l-hamburger-content__contact {
  margin-top: 20px;
  color: $main-color;

  text-align: center;

  P {
    font-size: 14px;
    font-weight: bold;
  }
}

.l-hamburger-content__number--big {
  font-size: 20px;
  font-weight: bold;
}

.l-hamburger-content__hours {
  margin-top: 15px;
}

.l-hamburger-content__button {
  background-color: #f7b560;
  padding: 16px 101px;
  border-radius: 24px;
  margin-top: 25px;
  p {
    font-size: 16px;
    color: #ffffff;
  }
}
