@use "../Foundation/mixin";
@use "../../global/variables" as *;
.l-header {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  padding-top: 10px;

  @include mixin.mq("pc") {
    width: 95%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.l-header__wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  @include mixin.mq("pc") {
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 0;
  }
}

.l-header__logo {
}

.l-header__logo-link {
  img {
    width: 116px;
  }

  @include mixin.mq("pc") {
    img {
      width: 169px;
    }
  }
}

.l-header__logo-img {
}

.l-header__nav {
  display: none;

  @include mixin.mq("pc") {
    display: flex;
    justify-content: space-between;
    gap: 21px;
  }
}

.l-header__nav-list {
  gap: 20px;
}

.l-header__nav-item {
}

.l-header__nav-link {
  color: #3b4043;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.l-header__button {
  text-align: center;
  width: 148px;
  padding: 16px 26px;
  background-color: #f7b560;
  border-radius: 24px;
  p {
    font-weight: bold;
    color: #ffffff;
  }
}

.l-hamburger-content {
  display: none;
  height: calc(100vh - 50px);
  background-color: $bg-color;

  @include mixin.mq("pc") {
    display: none;
  }
}

.l-hamburger-content__wrapper {
  padding-left: 14px;
  padding-right: 15px;
}

.l-hamburger-content__menu {
}

.l-hamburger-content__list {
}

.l-hamburger-content__item {
}

.l-hamburger-content__link {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $main-color;
}

.l-hamburger-content__box {
  gap: 10px;
}

.l-hamburger-content__group {
}

.l-hamburger-content__title {
  color: #3b4043;
  font-weight: bold;
}

.l-hamburger-content__subtitle {
  color: #f7b560;
  font-size: 12px;
  font-family: $font-family;
}

.l-hamburger-content__arrow {
}

.l-hamburger-content__contact {
  margin-top: 20px;
  color: $main-color;

  text-align: center;

  P {
    font-size: 14px;
    font-weight: bold;
  }
}

.l-hamburger-content__number--big {
  font-size: 20px;
  font-weight: bold;
}

.l-hamburger-content__hours {
  margin-top: 15px;
}

.l-hamburger-content__button {
  background-color: #f7b560;
  padding: 16px 101px;
  border-radius: 24px;
  margin-top: 25px;
  p {
    font-size: 16px;
    color: #ffffff;
  }
}
