@use "../global/variables" as *;
@use "../Foundation/mixin" as *;

.c-view-more {
  width: 301px;
  height: 70px;
  background-color: #fff;
  border: 2px solid $main-color;
  border-radius: 50px;

  p {
    font-size: 20px;
    color: $main-color;

    letter-spacing: 2px;
  }

  @include mq("pc") {
    width: px-to-vw(300);
  }
}
