.c-title {
}

.c-title-text {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.7;
  height: 40px;
}

.c-line {
  background-image: url("../images/title-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -5px;
}
