@use "../Foundation/mixin" as *;

.u-flex {
  display: flex;
  align-items: center;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-pc-br-hidden {
  @include mq("pc") {
    display: none;
  }
}

.u-pc-br-visible {
  @include mq("sp") {
    display: none;
  }
}
