@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

h2 {
  color: 0;
}

body {
  font-size: 16px;
  color: #555555;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
}

main {
  background-color: #f9f9f9;
}

body.no_scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.scroll-container {
  position: relative;
  background-color: #f9f9f9;
  z-index: 1;
}

.l-header {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 9999;
}
@media screen and (min-width: 960px) {
  .l-header {
    width: 95%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 100px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.l-header__wrapper {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (min-width: 960px) {
  .l-header__wrapper {
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.l-header__sp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .l-header__sp {
    width: 20%;
  }
}

.l-header__hamburger-menu {
  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  background: #fff;
  cursor: pointer;
  width: 40px;
  height: 50px;
  border-radius: 5px;
}
@media screen and (min-width: 960px) {
  .l-header__hamburger-menu {
    display: none;
  }
}
.l-header__hamburger-menu span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  right: 0;
  height: 2px;
  border-radius: 5px;
  background: #93c572;
  width: 20px;
}
.l-header__hamburger-menu span:nth-of-type(1) {
  top: 13px;
}
.l-header__hamburger-menu span:nth-of-type(2) {
  top: 20px;
}
.l-header__hamburger-menu span:nth-of-type(2)::after {
  content: "Menu"; /*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top: 5px;
  left: -2px;
  color: #93c572;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Archivo Narrow", sans-serif;
}

.l-header__hamburger-menu.is-active span:nth-of-type(1) {
  top: 12px;
  right: 0;
  -webkit-transform: translateY(6px) rotate(-35deg);
          transform: translateY(6px) rotate(-35deg);
  width: 50%;
}
.l-header__hamburger-menu.is-active span:nth-of-type(2) {
  top: 24px;
  right: 0px;
  -webkit-transform: translateY(-6px) rotate(35deg);
          transform: translateY(-6px) rotate(35deg);
  width: 50%;
}
.l-header__hamburger-menu.is-active span:nth-of-type(2)::after {
  content: "Close"; /*3つ目の要素のafterにClose表示を指定*/
  -webkit-transform: translateY(0) rotate(-36deg);
          transform: translateY(0) rotate(-36deg);
  top: 5px;
  left: 4px;
}

.l-header__logo-link img {
  width: 116px;
}
@media screen and (min-width: 960px) {
  .l-header__logo-link img {
    width: 169px;
  }
}

.l-header__nav {
  display: none;
}
@media screen and (min-width: 960px) {
  .l-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 21px;
  }
}

.l-header__nav-list {
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.l-header__nav-link {
  color: #3b4043;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.l-header__button {
  text-align: center;
  width: 148px;
  padding: 16px 26px;
  background-color: #f7b560;
  border-radius: 24px;
}
.l-header__button p {
  font-weight: bold;
  color: #ffffff;
}

.l-hamburger-content {
  opacity: 0;
  height: 0;
  pointer-events: none;
}
@media screen and (min-width: 960px) {
  .l-hamburger-content {
    display: none;
  }
}

.l-hamburger-content.is-active {
  opacity: 1;
  height: calc(100vh - 50px);
  pointer-events: auto;
  top: 0;
}

.l-hamburger-content__wrapper {
  padding-left: 14px;
  padding-right: 15px;
}

.l-hamburger-content__link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #93c572;
}

.l-hamburger-content__heading {
  gap: 10px;
}

.l-hamburger-content__label {
  color: #3b4043;
  font-weight: bold;
}

.l-hamburger-content__en-label {
  color: #f7b560;
  font-size: 12px;
  font-family: "Archivo Narrow", sans-serif;
}

.l-hamburger-content__en-label::before {
  position: absolute;
  right: -1px;
  top: 43%;
  content: "";
  background-color: #93c572;
  width: 11px;
  height: 2px;
  -webkit-transform: rotate(44deg);
  transform: rotate(44deg);
}

.l-hamburger-content__en-label::after {
  position: absolute;
  right: 0px;
  top: 50%;
  content: "";
  background-color: #93c572;
  width: 25px;
  height: 2px;
}

.l-hamburger-content__contact {
  margin-top: 20px;
  color: #93c572;
  text-align: center;
}
.l-hamburger-content__contact P {
  font-size: 14px;
  font-weight: bold;
}

.l-hamburger-content__number--big {
  font-size: 20px;
  font-weight: bold;
}

.l-hamburger-content__hours {
  margin-top: 15px;
}

.l-hamburger-content__button {
  width: 300px;
  margin: 0 auto;
  background-color: #f7b560;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 24px;
  margin-top: 20px;
}
.l-hamburger-content__button p {
  font-size: 16px;
  color: #ffffff;
}

.l-footer {
  background-color: #fff;
  position: relative;
}

.l-footer__wrapper {
  padding-top: 30px;
  padding-left: 14px;
  padding-bottom: 24px;
}
@media screen and (min-width: 960px) {
  .l-footer__wrapper {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 960px) {
  .l-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 70.2781844802vw;
  }
}

.l-footer__logo img {
  width: 202px;
}

.l-footer__address {
  margin-top: 30px;
}
.l-footer__address p {
  font-weight: 500;
}

.l-footer__contact {
  margin-top: 30px;
}
.l-footer__contact p {
  font-weight: 500;
}

.l-footer__nav {
  margin-top: 30px;
}
@media screen and (min-width: 960px) {
  .l-footer__nav {
    margin-top: 0;
  }
}

.l-footer__nav-list :nth-child(n+2) {
  margin-top: 10px;
}
@media screen and (min-width: 960px) {
  .l-footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
  }
  .l-footer__nav-list :nth-child(n+2) {
    margin-top: 0px;
  }
}

.l-footer__button {
  position: absolute;
  bottom: 80px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 50px;
  text-align: center;
  padding-top: 13px;
}
.l-footer__button img {
  width: 25px;
  height: 25px;
}

.l-footer__nav-link {
  font-weight: bold;
}

.l-footer__x-button {
  right: 153px;
}
@media screen and (min-width: 960px) {
  .l-footer__x-button {
    right: 340px;
  }
}

.l-footer__instagram-button {
  right: 84px;
}
@media screen and (min-width: 960px) {
  .l-footer__instagram-button {
    right: 271px;
  }
}

.l-footer__youtube-button {
  right: 16px;
}
@media screen and (min-width: 960px) {
  .l-footer__youtube-button {
    right: 203px;
  }
}

.l-footer__copy {
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.6px;
  margin-top: 120px;
}
@media screen and (min-width: 960px) {
  .l-footer__copy {
    margin-top: 30px;
  }
}

.c-breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.c-breadcrumbs-arrow {
  content: "";
  display: inline-block;
  margin: 6px 10px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #93c572; /*右矢印*/
  border-bottom: 1px solid #93c572; /*下線*/
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); /*右下に45度回転*/
}

.c-title {
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.7;
  height: 40px;
}

.c-line {
  background-image: url("../images/title-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -5px;
}

.c-view-more {
  width: 301px;
  height: 70px;
  background-color: #fff;
  border: 2px solid #93c572;
  border-radius: 50px;
}
.c-view-more p {
  font-size: 20px;
  color: #93c572;
  letter-spacing: 2px;
}
@media screen and (min-width: 960px) {
  .c-view-more {
    width: px-to-vw(300);
  }
}

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 12px;
}
.c-pagination a {
  padding-top: 12px;
  font-family: "Archivo Narrow", sans-serif;
  color: #93c572;
  font-size: 14px;
  background-color: #f9f9f9;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  border: 2px solid #f0f3f5;
  border-radius: 10px;
}

.c-card {
  width: 81.3333333333vw;
  height: 200px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 20px;
  background-color: #f9f9f9;
  display: inline-block;
  margin-top: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.p-first-view {
  height: 600px;
  position: relative;
}
@media screen and (min-width: 960px) {
  .p-first-view {
    height: 100vh;
  }
}

.p-first-view::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 600px;
  /*背景画像設定*/
  background-image: url("../images/FV.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 960px) {
  .p-first-view::before {
    height: 100vh;
  }
}

.p-first-view__wrapper {
  padding-top: 300px;
  padding-right: 14px;
  padding-left: 28px;
}

.p-first-view__content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 960px) {
  .p-first-view__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.p-first-view__logo img {
  width: 72px;
  height: 56px;
}
@media screen and (min-width: 960px) {
  .p-first-view__logo img {
    width: 203px;
    height: 157px;
  }
}

.p-first-view__title {
  min-width: 259px;
  color: #93c572;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 3.75px;
}
@media screen and (min-width: 960px) {
  .p-first-view__title {
    width: 920px;
    font-size: 50px;
    letter-spacing: 7.5px;
    color: #87b16c;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3019607843);
  }
}

.p-first-view__news {
  width: 142px;
  height: 76px;
  background-color: #f7b560;
  color: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  left: 3.33%;
  opacity: 0;
  position: fixed;
  bottom: 3.33%;
  -webkit-animation: 2s fadeout-sp ease forwards;
          animation: 2s fadeout-sp ease forwards;
}
@media screen and (min-width: 960px) {
  .p-first-view__news {
    width: 337px;
    height: 109px;
    left: auto;
    right: 3.33%;
    bottom: 3.33%;
    -webkit-animation: 2s fadeout-pc ease forwards;
            animation: 2s fadeout-pc ease forwards;
  }
}

@-webkit-keyframes fadeout-sp {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes fadeout-sp {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}
@-webkit-keyframes fadeout-pc {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes fadeout-pc {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.p-first-view__news.is-active {
  -webkit-animation: 2s fadeup-sp ease forwards;
          animation: 2s fadeup-sp ease forwards;
}
@media screen and (min-width: 960px) {
  .p-first-view__news.is-active {
    -webkit-animation: 2s fadeup-pc ease forwards;
            animation: 2s fadeup-pc ease forwards;
  }
}

@-webkit-keyframes fadeup-sp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeup-sp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeup-pc {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeup-pc {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.p-first-view__news-wrapper {
  padding: 10px 7px 10px 10px;
}
@media screen and (min-width: 960px) {
  .p-first-view__news-wrapper {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
  }
}

.p-first-view__news-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 960px) {
  .p-first-view__news-heading {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-first-view__news-title {
  font-size: 14px;
  letter-spacing: 0.7px;
  font-family: "Archivo Narrow", sans-serif;
}
@media screen and (min-width: 960px) {
  .p-first-view__news-title {
    font-size: 20px;
  }
}

.p-first-view__news-time {
  font-size: 10px;
  letter-spacing: 0.5px;
  font-family: "Archivo Narrow", sans-serif;
}
@media screen and (min-width: 960px) {
  .p-first-view__news-time {
    font-size: 12px;
  }
}

.p-first-view__news-text {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 960px) {
  .p-first-view__news-text {
    font-size: 16px;
  }
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
/*スクロールダウン全体の場所*/
.p-first-view__scrolldown {
  opacity: 0;
}
@media screen and (min-width: 960px) {
  .p-first-view__scrolldown {
    opacity: 1;
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 1%;
    right: 50%;
    /*矢印の動き1秒かけて永遠にループ*/
    -webkit-animation: arrowmove 1s ease-in-out infinite;
            animation: arrowmove 1s ease-in-out infinite;
  }
}

/*下からの距離が変化して全体が下→上→下に動く*/
@-webkit-keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
/*Scrollテキストの描写*/
.p-first-view__scrolldown span {
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 1.4px;
  /*描画位置*/
  position: absolute;
  left: -25px;
  bottom: 55px;
  /*テキストの形状*/
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

/* 矢印の描写 */
.p-first-view__scrolldown:before {
  height: 0;
}
@media screen and (min-width: 960px) {
  .p-first-view__scrolldown:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 2px;
    height: 20px;
    background: #fff;
    -webkit-transform: skewX(-31deg);
            transform: skewX(-31deg);
  }
}

.p-first-view__scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 2px;
  height: 50px;
  background: #fff;
}

.p-about {
  text-align: center;
  position: relative;
}
@media screen and (min-width: 960px) {
  .p-about {
    height: 750px;
  }
}

.p-about__wrapper {
  padding-top: 130px;
  padding-bottom: 182px;
  padding-right: 15px;
  padding-left: 15px;
}
.p-about__logo {
  text-align: center;
}
.p-about__logo img {
  width: 61.8666666667vw;
}
@media screen and (min-width: 960px) {
  .p-about__logo img {
    width: 22.9868228404vw;
    height: 54px;
  }
}

.p-about__text {
  margin-top: 30px;
  line-height: 32px;
}
.p-about__text p {
  font-size: 16px;
  font-weight: bold;
}
.p-about__text p:nth-child(4) {
  margin-top: 20px;
}
@media screen and (min-width: 960px) {
  .p-about__text {
    margin-top: 60px;
  }
}

.p-about__img img:nth-child(1) {
  position: absolute;
  height: 0;
  top: 40px;
  left: 34px;
}
@media screen and (min-width: 960px) {
  .p-about__img img:nth-child(1) {
    top: 45px;
    left: 203px;
  }
}
.p-about__img img:nth-child(2) {
  position: absolute;
  height: 0;
  top: 50px;
  right: 42px;
}
@media screen and (min-width: 960px) {
  .p-about__img img:nth-child(2) {
    top: 93px;
    right: 203px;
  }
}
.p-about__img img:nth-child(3) {
  position: absolute;
  height: 0;
  left: 46px;
  bottom: 67px;
}
@media screen and (min-width: 960px) {
  .p-about__img img:nth-child(3) {
    left: 312px;
    top: 479px;
  }
}
.p-about__img img:nth-child(4) {
  position: absolute;
  height: 0;
  right: 47px;
  bottom: 40px;
}
@media screen and (min-width: 960px) {
  .p-about__img img:nth-child(4) {
    right: 227px;
    top: 479px;
  }
}

.p-about__img.is-active img:nth-child(1) {
  opacity: 0;
  position: absolute;
  width: 16.8vw;
  height: auto;
  -webkit-animation: 2s fadeup1 ease forwards;
          animation: 2s fadeup1 ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@media screen and (min-width: 960px) {
  .p-about__img.is-active img:nth-child(1) {
    width: 14.6412884334vw;
  }
}
.p-about__img.is-active img:nth-child(2) {
  opacity: 0;
  position: absolute;
  width: 15.2vw;
  height: auto;
  -webkit-animation: 2s fadeup2 ease forwards;
          animation: 2s fadeup2 ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media screen and (min-width: 960px) {
  .p-about__img.is-active img:nth-child(2) {
    width: 13.2503660322vw;
  }
}
.p-about__img.is-active img:nth-child(3) {
  opacity: 0;
  position: absolute;
  width: 22.9333333333vw;
  height: auto;
  -webkit-animation: 2s fadeup3 ease forwards;
          animation: 2s fadeup3 ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@media screen and (min-width: 960px) {
  .p-about__img.is-active img:nth-child(3) {
    width: 14.6412884334vw;
  }
}
.p-about__img.is-active img:nth-child(4) {
  opacity: 0;
  position: absolute;
  width: 24.5333333333vw;
  height: auto;
  -webkit-animation: 2s fadeup4 ease forwards;
          animation: 2s fadeup4 ease forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
@media screen and (min-width: 960px) {
  .p-about__img.is-active img:nth-child(4) {
    width: 17.2035139092vw;
  }
}

@-webkit-keyframes fadeup1 {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeup1 {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeup2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeup2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes fadeup3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeup3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeup4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeup4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.p-faq {
  margin-top: 700px;
}
@media screen and (min-width: 960px) {
  .p-faq {
    margin-top: 805px;
  }
}

.p-faq__wrapper {
  padding-top: 78px;
  padding-bottom: 77px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 960px) {
  .p-faq__wrapper {
    padding-top: 110px;
  }
}

.p-faq__heading {
  margin: 0 auto;
  width: 330px;
  text-align: center;
}

.p-faq__heading-title {
  width: 330px;
  font-size: 30px;
}
@media screen and (min-width: 960px) {
  .p-faq__heading-title {
    font-size: 40px;
  }
}

.p-faq__line {
  margin: 0 auto;
  width: 240px;
  height: 30px;
  margin-top: -13px;
}
@media screen and (min-width: 960px) {
  .p-faq__line {
    width: 310px;
    margin-top: -5px;
  }
}

.p-faq__accordion {
  max-width: 960px;
  margin: 0 auto;
}
.p-faq__accordion li {
  margin: 30px 0;
}

.p-faq__element {
  padding-top: 30px;
  padding-left: 19px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border: 3px solid #93c572;
  border-radius: 30px;
  position: relative;
}
@media screen and (min-width: 960px) {
  .p-faq__element {
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 960px) {
  .p-faq__element.scaleUp {
    padding-bottom: 30px;
  }
}

.p-faq__element::before {
  position: absolute;
  content: " ";
  top: 50%; /* 50% で親要素の中央に配置 */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* 要素の高さの半分だけ上に移動し、完全に中央に配置 */
  left: -3px;
  width: 4px;
  height: 15px;
  background-color: #ffffff;
}

.p-faq__element::after {
  position: absolute;
  content: " ";
  top: 50%; /* 50% で親要素の中央に配置 */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* 要素の高さの半分だけ上に移動し、完全に中央に配置 */
  right: -3px;
  width: 4px;
  height: 20px;
  background-color: #ffffff;
}

.p-faq__element.scaleUp::before {
  position: absolute;
  content: " ";
  top: 50%; /* 50% で親要素の中央に配置 */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* 要素の高さの半分だけ上に移動し、完全に中央に配置 */
  left: -3px;
  width: 3px;
  height: 50px;
  background-color: #ffffff;
}

.p-faq__element.scaleUp::after {
  position: absolute;
  content: " ";
  top: 50%; /* 50% で親要素の中央に配置 */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* 要素の高さの半分だけ上に移動し、完全に中央に配置 */
  right: -3px;
  width: 3px;
  height: 50px;
  background-color: #ffffff;
}

.p-faq__question {
  gap: 13px;
  position: relative;
  cursor: pointer;
}
.p-faq__question p {
  width: 250px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .p-faq__question {
    gap: 22px;
    font-size: 20px;
  }
  .p-faq__question p {
    width: auto;
  }
}

.p-faq__question::before,
.p-faq__question::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #93c572;
}
@media screen and (min-width: 960px) {
  .p-faq__question::before,
  .p-faq__question::after {
    width: 20px;
  }
}

.p-faq__question::before {
  top: 45%;
  right: 21px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.p-faq__question::after {
  top: 45%;
  right: 21px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.p-faq__question.close::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.p-faq__answer {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  gap: 23px;
  font-weight: 500;
}
.p-faq__answer p {
  max-width: 305px;
}
@media screen and (min-width: 960px) {
  .p-faq__answer {
    margin-top: 26px;
    padding-left: 46px;
    padding-bottom: 10px;
    height: 60px;
  }
  .p-faq__answer p {
    max-width: 820px;
    font-size: 20px;
  }
}

.p-faq__answer::before {
  position: absolute;
  content: "A";
  top: -45px;
  left: 1px;
  font-size: 25px;
  font-family: "Archivo Narrow", sans-serif;
  color: #f7b560;
}
@media screen and (min-width: 960px) {
  .p-faq__answer::before {
    top: 7px;
    left: 0;
    font-size: 35px;
  }
}

.p-faq__q {
  color: #93c572;
  font-size: 25px;
  font-family: "Archivo Narrow", sans-serif;
}
@media screen and (min-width: 960px) {
  .p-faq__q {
    font-size: 35px;
  }
}

.p-faq__a {
  color: #f7b560;
  font-size: 35px;
  font-family: "Archivo Narrow", sans-serif;
}

.p-activity {
  width: 100%;
  position: absolute;
  top: 801px;
  background: #fff;
  padding-bottom: 50px;
  z-index: 1;
  -webkit-box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (min-width: 960px) {
  .p-activity {
    width: 85.1390922401vw;
    border-radius: 0px 100px 100px 0px;
    padding-bottom: 80px;
  }
}

.p-activity__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 960px) {
  .p-activity__wrapper {
    padding-top: 80px;
    padding-left: 203px;
  }
}

.p-activity__heading-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #555555;
}
@media screen and (min-width: 960px) {
  .p-activity__heading-title {
    font-size: 40px;
  }
}

.p-activity__line {
  height: 10px;
}
@media screen and (min-width: 960px) {
  .p-activity__line {
    height: 14px;
    margin-top: 2px;
  }
}

.p-activity__tab {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 960px) {
  .p-activity__tab {
    margin-top: 45px;
    gap: 20px;
  }
}

.p-activity__tab-btn {
  color: #f7b560;
  background-color: #ffffff;
}
.p-activity__tab-btn a {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  padding: 17px 39px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .p-activity__tab-btn a {
    font-size: 20px;
    padding: 23px 75px;
    border-radius: 20px;
  }
}

.p-activity__tab-btn-unique a {
  font-size: 14px;
  padding: 18px 6px;
}
@media screen and (min-width: 960px) {
  .p-activity__tab-btn-unique a {
    font-size: 20px;
    width: 140px;
    padding: 22px 25px;
  }
}

/*タブのコンテンツの表示非表示と形状*/
.p-activity__tab-content {
  visibility: hidden; /*はじめは非表示*/
  height: 0;
  opacity: 0; /*透過0*/
  margin: 0;
}
.p-activity__tab-content p {
  font-weight: 500;
  min-height: 170px;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 960px) {
  .p-activity__tab-content p {
    padding-left: 203px;
    width: 910px;
    min-height: 64px;
  }
}

/*areaにis-activeというクラスがついた時の形状*/
.p-activity__tab-content.is-active {
  visibility: visible; /*表示*/
  height: auto;
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p-activity__tab-content-slider {
  margin-top: 40px;
}
.p-activity__tab-content-slider img {
  height: auto;
}
@media screen and (min-width: 960px) {
  .p-activity__tab-content-slider {
    margin-top: 70px;
  }
  .p-activity__tab-content-slider li {
    margin: 20px;
  }
}

.p-activity__tab li.is-active a {
  background: #93c572;
  color: #ffffff;
}

.p-activity__tab-content-slider .slick-slide {
  margin-right: 10px;
}

.p-notice {
  position: relative;
}
.p-notice__wrapper {
  padding-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .p-notice__wrapper {
    padding-top: 75px;
    padding-left: 203px;
  }
}

@media screen and (min-width: 960px) {
  .p-notice__heading {
    width: 29.2825768668vw;
  }
}

.p-notice__heading-inner {
  padding-left: 15px;
  padding-right: 16px;
}

.p-notice__title {
  font-size: 30px;
  letter-spacing: 4px;
}
@media screen and (min-width: 960px) {
  .p-notice__title {
    font-size: 40px;
  }
}

.p-notice__line {
  height: 12px;
  width: 129px;
}
@media screen and (min-width: 960px) {
  .p-notice__line {
    height: 15px;
    width: 190px;
    margin-top: 6px;
  }
}

.p-notice__description {
  font-weight: 500;
  margin-top: 30px;
}
@media screen and (min-width: 960px) {
  .p-notice__description {
    margin-top: 45px;
    line-height: 1.8;
    margin-bottom: 40px;
  }
}

.p-notice__view-more {
  margin: 0 auto;
  text-align: center;
  margin-top: 440px;
  padding-top: 19px;
}
@media screen and (min-width: 960px) {
  .p-notice__view-more {
    margin: 0 auto;
  }
}

.p-notice__list {
  background-color: #fff;
  width: 361px;
  height: 381px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1607843137);
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  top: 173px;
  right: 0px;
  padding-top: 30px;
  padding-left: 21px;
}
@media screen and (min-width: 960px) {
  .p-notice__list {
    top: 0px;
    right: 0px;
    padding-top: 80px;
    padding-left: 50px;
    height: 440px;
    width: 49.7803806735vw;
    border-radius: 100px 0px 0px 100px;
  }
}

ul.p-notice__list > li:nth-child(n+2) {
  margin-top: 30px;
}
@media screen and (min-width: 960px) {
  ul.p-notice__list > li:nth-child(n+2) {
    margin-top: 40px;
  }
}

.p-notice__content-inner {
  gap: 27px;
}

.p-notice__content-time {
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 0.8px;
}

.p-notice__content-category {
  font-weight: 500;
  text-align: center;
  width: 96px;
  height: 26px;
  background-color: #93c572;
  border-radius: 5px;
  font-size: 14px;
  padding-top: 3px;
  color: #fff;
}

.p-notice__content-text {
  margin-top: 10px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .p-notice__content-text {
    font-size: 20px;
  }
}

.p-access__wrapper {
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 80px;
}

.p-access__heading {
  text-align: center;
}

.p-access__title {
  font-size: 30px;
}
@media screen and (min-width: 960px) {
  .p-access__title {
    font-size: 40px;
  }
}

.p-access__line {
  margin: -5px auto 0 auto;
  width: 140px;
  height: 13px;
}
@media screen and (min-width: 960px) {
  .p-access__line {
    margin: 0 auto;
    width: 159px;
    height: 13px;
  }
}

.p-access__card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 139px 206px;
  grid-template-rows: 350px 250px;
  border-radius: 50px;
  margin-top: 40px;
}
@media screen and (min-width: 960px) {
  .p-access__card {
    grid-template-columns: 250px 710px;
    grid-template-rows: 300px 300px;
    border-radius: 50px;
    max-width: 960px;
  }
}

.p-access__item {
  padding-top: 32px;
  padding-left: 20px;
  border-radius: 50px 0px 0px 0px;
  background-color: #93c572;
}
.p-access__item :nth-of-type(n + 1) {
  font-weight: bold;
  height: 16px;
}
@media screen and (min-width: 960px) {
  .p-access__item {
    font-size: 20px;
    padding-top: 80px;
    padding-left: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 100px 0px 0px 100px;
  }
}

.p-access__item-address {
  margin-top: 30px;
}

.p-access__item-phone {
  margin-top: 70px;
}
@media screen and (min-width: 960px) {
  .p-access__item-phone {
    margin-top: 30px;
  }
}

.p-access__item-hour {
  margin-top: 30px;
}

.p-access__item-expansion {
  margin-top: 11px !important;
  font-size: 12px;
  border-bottom: 0.5px solid #555555;
}
@media screen and (min-width: 960px) {
  .p-access__item-expansion {
    font-size: 16px;
  }
}

.p-access__item-map {
  margin-top: 52px;
  margin-bottom: 11px;
}
@media screen and (min-width: 960px) {
  .p-access__item-map {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 73px;
    margin-bottom: 23px;
  }
}
.p-access__info {
  padding-top: 32px;
  padding-left: 20px;
  border-radius: 0px 50px 0px 0px;
  background-color: #fff;
  font-size: 14px;
}
.p-access__info p:nth-child(n+1) {
  margin-top: 22px;
}
@media screen and (min-width: 960px) {
  .p-access__info {
    font-size: 16px;
    padding-top: 80px;
    padding-left: 50px;
    border-radius: 0px 100px 0px 0px;
  }
}

.p-access__map iframe {
  width: 345px;
  height: 249px;
  border-radius: 0px 0px 50px 50px;
}
@media screen and (min-width: 960px) {
  .p-access__map iframe {
    width: 710px;
    height: 300px;
    border-radius: 0px 0px 100px 0px;
  }
}

.p-contact {
  width: 345px;
  background-color: #f7b560;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1607843137);
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
@media screen and (min-width: 960px) {
  .p-contact {
    width: 960px;
    margin-top: 80px;
  }
}

.p-contact__wrapper {
  padding: 50px 21px 34px 23px;
}
@media screen and (min-width: 960px) {
  .p-contact__wrapper {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.p-contact__heading {
  font-size: 30px;
}
@media screen and (min-width: 960px) {
  .p-contact__heading {
    font-size: 40px;
  }
}

.p-contact__description {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
@media screen and (min-width: 960px) {
  .p-contact__description {
    margin-top: 40px;
  }
}

.p-contact__button {
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 20px;
}
.p-contact__button p {
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (min-width: 960px) {
  .p-contact__button {
    margin-top: 40px;
  }
}

.p-contact__number {
  margin-top: 20px;
}
.p-contact__number p {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .p-contact__number {
    margin-top: 42px;
  }
}

.p-contact__number .p-contact__number--big {
  font-size: 30px;
}

.p-contact__hours {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .p-contact__hours {
    margin-top: 5px;
  }
}

.p-announcements {
  margin-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .p-announcements {
    padding-top: 150px;
  }
}

.p-announcements__wrapper {
  margin: 0 15px 0 15px;
}
@media screen and (min-width: 960px) {
  .p-announcements__wrapper {
    margin: 0 203px 0 203px;
  }
}

.p-announcements__heading-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 44px;
}
@media screen and (min-width: 960px) {
  .p-announcements__heading-title {
    font-size: 40px;
    letter-spacing: 4px;
  }
}

.p-announcements__line {
  width: 200px;
  height: 20px;
  margin-top: -8px;
}
@media screen and (min-width: 960px) {
  .p-announcements__line {
    width: 240px;
    height: 25px;
    margin-top: -2px;
  }
}

.p-announcements__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  text-align: center;
  overflow-x: scroll;
  padding-bottom: 10px;
  padding-left: 2px;
  margin-left: 15px;
  margin-top: 20px;
}
.p-announcements__tab li.active a {
  color: white;
  background-color: #93c572;
}
@media screen and (min-width: 960px) {
  .p-announcements__tab {
    overflow-x: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-announcements__tab li.active a {
  background-color: #93c572;
  color: #fff;
}

.p-announcements__tab-btn {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 50px;
}
.p-announcements__tab-btn a {
  padding-top: 10px;
  min-width: 126px;
  min-height: 44px;
  color: #f7b560;
  font-weight: bold;
  display: inline-block;
}

.p-announcements__tab-content {
  display: none;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (min-width: 960px) {
  .p-announcements__tab-content {
    border-radius: 100px;
    width: 70.2781844802vw;
    margin: 50px auto 0 auto;
  }
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.p-announcements__tab-content.active {
  display: block;
  -webkit-animation-name: displayAnime;
          animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media not screen and (min-width: 770px) {
  .p-announcements__tab-content-pc {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .p-announcements__sp {
    display: none;
  }
}

.p-announcements__tab-content-wrapper {
  padding-top: 47px;
  padding-bottom: 30px;
  padding-left: 19px;
  padding-right: 20px;
}
@media screen and (min-width: 960px) {
  .p-announcements__tab-content-wrapper {
    padding-top: 80px;
    padding-left: 50px;
  }
}

.p-announcements__card1 {
  background-image: url("../images/apple-touch-icon.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.p-announcements__card2 {
  background-image: url("../images/work-bokujo01.png");
}

.p-announcements__card3 {
  background-image: url("../images/work-ec03.png");
}

.p-announcements__card4 {
  background-image: url("../images/apple-touch-icon.png");
  background-size: 150px;
  background-position: center;
}

.p-announcements__card5 {
  background-image: url("../images/work-bokujo02.png");
}

.p-announcements__card6 {
  background-image: url("../images/work-ec04.png");
}

.p-announcements__card7 {
  background-image: url("../images/work-nouen02.png");
}

.p-announcements__card8 {
  background-image: url("../images/work-nouen01.png");
}

.p-announcements__card9 {
  background-image: url("../images/work-nouen03.png");
}

.p-announcements__card10 {
  background-image: url("../images/work-nouen04.png");
}

.p-announcements__card-content {
  position: absolute;
  top: 128px;
  width: 81.3333333333vw;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  opacity: 0.8;
}
@media screen and (min-width: 960px) {
  .p-announcements__card-content {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

.p-announcements__card-content-wrapper {
  padding: 5px 10px 10px 10px;
}
@media screen and (min-width: 960px) {
  .p-announcements__card-content-wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 37px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-announcements__content-list li:not(:first-child) {
  margin-top: 50px;
}

.p-announcements__card-date p {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 500;
}
@media screen and (min-width: 960px) {
  .p-announcements__card-date p {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}

.p-announcements__card-title {
  margin-top: 5px;
}
.p-announcements__card-title p {
  font-size: 14px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .p-announcements__card-title {
    margin-top: 10px;
  }
  .p-announcements__card-title p {
    font-size: 20px;
  }
}

.p-announcements__card-category {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  padding-top: 3px;
  height: 26px;
  width: 96px;
  background-color: #93c572;
  border-radius: 5px;
}
.p-announcements__card-category p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
@media screen and (min-width: 960px) {
  .p-announcements__card-category {
    position: relative;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 960px) {
  .p-announcements__card-date-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

@media screen and (min-width: 960px) {
  .p-announcements__card-text {
    margin-top: 15px;
  }
  .p-announcements__card-text p {
    font-size: 14px;
    font-weight: 500;
  }
}

.p-announcements__pagination {
  margin-top: 30px;
}

@media screen and (min-width: 960px) {
  .p-announcements__card1-pc {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .p-announcements__card1-pc img {
    width: 230px;
    height: 150px;
  }
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 960px) {
  .u-pc-br-hidden {
    display: none;
  }
}

@media not screen and (min-width: 770px) {
  .u-pc-br-visible {
    display: none;
  }
}