.p-first-view {
}

.p-first-view__wrapper {
  padding-top: 270px;
  background-image: url("../images/FV.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.p-first-view__logo {
  text-align: center;
  img {
    width: 203px;
  }
}

.p-first-view__title {
}

.p-first-view__scrolldown4 {
}
