@use "../global/variables" as *;
@use "../Foundation/mixin" as *;

.p-about {
  text-align: center;
  position: relative;
}

.p-about__wrapper {
  padding-top: 130px;
  padding-bottom: 182px;
  padding-right: 15px;
  padding-left: 15px;
}

.p-about__logo {
  text-align: center;

  img {
    width: 232px;
  }
}

.p-about__logo-img {
}

.p-about__content {
}

.p-about__image {
}

.p-about__text {
  margin-top: 30px;
  p {
    font-size: 16px;
    font-weight: bold;

    &:nth-child(4) {
      margin-top: 20px;
    }
  }
}

.p-about__img {
  width: 10px;
  img:nth-child(1) {
    position: absolute;
    width: 63px;
    top: 40px;
    left: -63px;
  }
  img:nth-child(2) {
    position: absolute;
    width: 0px;
    top: -70px;
    right: 42px;
  }
  img:nth-child(3) {
    position: absolute;
    width: 86px;
    left: 46px;
    bottom: -88px;
  }
  img:nth-child(4) {
    position: absolute;
    width: 0px;
    right: -92px;
    bottom: 40px;
  }
}

.p-about__img.is-active {
  img:nth-child(1) {
    position: absolute;
    width: 63px;
    top: 40px;
    left: 34px;
    animation: 2s fadeup1 ease forwards;
  }
  img:nth-child(2) {
    position: absolute;
    width: 57px;
    top: 50px;
    right: 42px;
    animation: 2s fadeup2 ease forwards;
  }
  img:nth-child(3) {
    position: absolute;
    width: 86px;
    left: 46px;
    bottom: 67px;
    animation: 2s fadeup3 ease forwards;
  }
  img:nth-child(4) {
    position: absolute;
    width: 92px;
    right: 47px;
    bottom: 40px;
    animation: 2s fadeup4 ease forwards;
  }
}
@keyframes fadeup1 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeup2 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeup3 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeup4 {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
