@use "../global/forward" as *;

.p-about {
  text-align: center;
  position: relative;

  @include mq("pc") {
    height: 750px;
  }
}

.p-about__wrapper {
  padding-top: 130px;
  padding-bottom: 182px;
  padding-right: 15px;
  padding-left: 15px;

  @include mq("pc") {
  }
}

.p-about__logo {
  text-align: center;

  img {
    width: px-to-vw(232, 375);
  }

  @include mq("pc") {
    img {
      width: px-to-vw(314);
      height: 54px;
    }
  }
}

.p-about__text {
  margin-top: 30px;
  line-height: 32px;
  p {
    font-size: 16px;
    font-weight: bold;

    &:nth-child(4) {
      margin-top: 20px;
    }
  }

  @include mq("pc") {
    margin-top: 60px;
  }
}

.p-about__img {
  img:nth-child(1) {
    position: absolute;
    height: 0;
    top: 40px;
    left: 34px;

    @include mq("pc") {
      top: 45px;
      left: 203px;
    }
  }
  img:nth-child(2) {
    position: absolute;
    height: 0;
    top: 50px;
    right: 42px;

    @include mq("pc") {
      top: 93px;
      right: 203px;
    }
  }
  img:nth-child(3) {
    position: absolute;
    height: 0;
    left: 46px;
    bottom: 67px;

    @include mq("pc") {
      left: 312px;
      top: 479px;
    }
  }
  img:nth-child(4) {
    position: absolute;
    height: 0;
    right: 47px;
    bottom: 40px;

    @include mq("pc") {
      right: 227px;
      top: 479px;
    }
  }
}

.p-about__img.is-active {
  img:nth-child(1) {
    opacity: 0;
    position: absolute;
    width: px-to-vw(63, 375);
    height: auto;
    animation: 2s fadeup1 ease forwards;
    animation-delay: 1s;


    @include mq("pc") {
      width: px-to-vw(200);
    }
  }
  img:nth-child(2) {
    opacity: 0;

    position: absolute;
    width: px-to-vw(57, 375);
    height: auto;
    animation: 2s fadeup2 ease forwards;
    animation-delay: 2s;

    @include mq("pc") {
      width: px-to-vw(181);
    }
  }
  img:nth-child(3) {
    opacity: 0;

    position: absolute;
    width: px-to-vw(86, 375);
    height: auto;
    animation: 2s fadeup3 ease forwards;
    animation-delay: 3s;


    @include mq("pc") {
      width: px-to-vw(200);
    }
  }
  img:nth-child(4) {
    opacity: 0;

    position: absolute;
    width: px-to-vw(92, 375);
    height: auto;
    animation: 2s fadeup4 ease forwards;
    animation-delay: 4s;


    @include mq("pc") {
      width: px-to-vw(235);
    }
  }
}
@keyframes fadeup1 {
  0% {
    
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeup2 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeup3 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeup4 {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
