@use "../global/variables" as *;
@use "../Foundation/mixin" as *;

.p-access {
}

.p-access__wrapper {
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 80px;
}

.p-access__heading {
  text-align: center;
}

.p-access__heading-text {
  font-size: 30px;
  @include mq("pc") {
    font-size: 40px;
  }
}

.p-access__line {
  margin: -5px auto 0 auto;
  width: 140px;
  height: 13px;

  @include mq("pc") {
    margin: 0 auto;
    width: 159px;
    height: 13px;
  }
}

.c-line {
}

.p-access__card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 139px 206px;
  grid-template-rows: 350px 250px;
  border-radius: 50px;
  margin-top: 40px;

  @include mq("pc") {
    grid-template-columns: 250px 710px;
    grid-template-rows: 300px 300px;
    border-radius: 50px;
    max-width: 960px;
  }
}

.p-access__item {
  padding-top: 32px;
  padding-left: 20px;
  border-radius: 50px 0px 0px 0px;
  background-color: $main-color;

  :nth-of-type(n + 1) {
    font-weight: bold;
    height: 16px;
  }

  @include mq("pc") {
    font-size: 20px;
    padding-top: 80px;
    padding-left: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 100px 0px 0px 100px;
  }
}

.p-access__item-company {
}

.p-access__item-address {
  margin-top: 30px;
}

.p-access__item-phone {
  margin-top: 70px;

  @include mq("pc") {
    margin-top: 30px;
  }
}

.p-access__item-hour {
  margin-top: 30px;
}

.p-access__item-expansion {
  margin-top: 11px !important;
  font-size: 12px;
  border-bottom: 0.5px solid #555555;

  @include mq("pc") {
    font-size: 16px;
  }
}

.p-access__item-map {
  margin-top: 52px;
  margin-bottom: 11px;

  @include mq("pc") {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 73px;
    margin-bottom: 23px;
  }

  @include mq("pc") {
  }
}

.p-access__info {
  padding-top: 32px;
  padding-left: 20px;
  border-radius: 0px 50px 0px 0px;
  background-color: #fff;
  font-size: 14px;
  // :nth-of-type(n + 1) {
  //   font-size: 14px;
  // }

  p:nth-child(n + 1) {
    margin-top: 22px;
  }

  @include mq("pc") {
    font-size: 16px;
    padding-top: 80px;
    padding-left: 50px;
    border-radius: 0px 100px 0px 0px;
  }
}

.p-access__info-title {
}

.p-access__info-address {
}

.p-access__info-phone {
}

.p-access__info-hour {
}

.p-access__map {
  iframe {
    width: 345px;
    height: 249px;
    border-radius: 0px 0px 50px 50px;
  }

  @include mq("pc") {
    iframe {
      width: 710px;
      height: 300px;
      border-radius: 0px 0px 100px 0px;
    }
  }
}
