@use "../global/variables" as *;
@use "../Foundation/mixin" as *;

.p-activity {
  width: 100%;
  position: absolute;
  top: 801px;
  background: #fff;
  padding-bottom: 50px;
  z-index: 1;

  @include mq("pc") {
    width: 1163px;
    border-radius: 0px 100px 100px 0px;
    box-shadow: 1px -1px 10px #00000029;
    padding-right: 50px;
  }
}

.p-activity__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  @include mq("pc") {
    padding-top: 80px;
    padding-left: 203px;
  }
}

.p-activity__heading {
}

.p-activity__heading-text {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  color: $text-color;

  @include mq("pc") {
    font-size: 40px;
  }
}

.p-activity__line {
  height: 10px;

  @include mq("pc") {
    height: 14px;
    margin-top: 2px;
  }
}

.p-activity__tab {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  align-items: center;

  @include mq("pc") {
    margin-top: 45px;
    gap: 20px;
  }
}

.p-activity__tab-btn {
  color: #f7b560;
  background-color: #ffffff;
  a {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    padding: 17px 39px;
    font-weight: bold;
  }

  @include mq("pc") {
    a {
      font-size: 20px;
      padding: 23px 75px;
      border-radius: 20px;
    }
  }
}

.p-activity__tab-btn-unique {
  a {
    font-size: 14px;
    padding: 18px 6px;
  }

  @include mq("pc") {
    a {
      font-size: 20px;
      width: 140px;
      padding: 22px 25px;
    }
  }
}

/*タブのコンテンツの表示非表示と形状*/
.p-activity__tab-content {
  visibility: hidden; /*はじめは非表示*/
  // display: none;
  height: 0;
  opacity: 0; /*透過0*/
  margin: 0;

  p {
    font-weight: 500;
    min-height: 170px;
    padding-right: 15px;
    padding-left: 15px;
  }

  @include mq("pc") {
    p {
      padding-left: 203px;
      width: 910px;
      min-height: 64px;
    }
  }
}

.p-activity__tab-content-description {
}

/*areaにis-activeというクラスがついた時の形状*/
.p-activity__tab-content.is-active {
  // display: block;
  visibility: visible; /*表示*/
  height: auto;
  animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p-activity__tab-content-slider {
  // display: flex;
  // flex-wrap: nowrap;
  margin-top: 40px;
  // overflow-x: auto; /* コンテンツがはみ出る場合にスクロールバーを表示 */
  // min-width: 100vw; /* 最小幅をビューポートの100%に設定 */

  img {
    height: auto;
  }

  @include mq("pc") {
    margin-top: 70px;
    li {
      margin: 20px;
    }
  }
}

.p-activity__tab li.is-active a {
  background: $main-color;
  color: #ffffff;
}

.slick-list.draggable {
}

.p-activity__tab-content-slider .slick-slide {
  margin-right: 10px;
}
