@use "../global/variables" as *;

.p-contact {
  width: 345px;
  background-color: $accent-color;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #00000029;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.p-contact__wrapper {
  padding: 50px 21px 34px 23px;
}

.p-contact__heading {
  font-size: 30px;
}

.p-contact__description {
  font-size: 18px;
  margin-top: 20px;
}

.p-contact__button {
  padding-top: 20px;
  margin-top: 20px;

  p {
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.c-view-more {
}

.p-contact__number {
  margin-top: 20px;
  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.p-contact__number .p-contact__number--big {
  font-size: 30px;
}

.p-contact__hours {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
