@use "../global/variables" as *;
@use "../Foundation/mixin" as *;

.p-contact {
  width: 345px;
  background-color: $accent-color;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #00000029;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
  @include mq("pc") {
    width: 960px;
    margin-top: 80px;
  }
}

.p-contact__wrapper {
  padding: 50px 21px 34px 23px;

  @include mq("pc") {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.p-contact__heading {
  font-size: 30px;

  @include mq("pc") {
    font-size: 40px;
  }
}

.p-contact__description {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  @include mq("pc") {
    margin-top: 40px;
  }
}

.p-contact__button {
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 20px;

  p {
    font-weight: bold;
    letter-spacing: 2px;
  }

  @include mq("pc") {
    margin-top: 40px;
  }
}

.c-view-more {
}

.p-contact__number {
  margin-top: 20px;
  p {
    font-size: 20px;
    font-weight: bold;
  }

  @include mq("pc") {
    margin-top: 42px;
  }
}

.p-contact__number .p-contact__number--big {
  font-size: 30px;
}

.p-contact__hours {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;

  @include mq("pc") {
    margin-top: 5px;
  }
}
