@use "../global/variables" as *;
@use "../Foundation/mixin" as *;
.p-first-view {
  height: 600px;
  position: relative;

  @include mq("pc") {
    height: 100vh;
  }
}

.p-first-view::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 600px;
  /*背景画像設定*/
  background-image: url("../images/FV.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq("pc") {
    height: 100vh;
  }
}

.p-first-view__wrapper {
  padding-top: 300px;
  padding-right: 14px;
  padding-left: 28px;
}

.p-first-view__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #eee;
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
  justify-content: center;

  @include mq("pc") {
    flex-direction: column;
    gap: 20px;
  }
}

.p-first-view__logo {
  img {
    width: 72px;
    height: 56px;
  }

  @include mq("pc") {
    img {
      width: 203px;
      height: 157px;
    }
  }
}

.p-first-view__title {
  min-width: 259px;
  color: $main-color;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 3.75px;

  @include mq("pc") {
    width: 920px;
    font-size: 50px;
    letter-spacing: 7.5px;
    color: #87b16c;
    text-shadow: 0px 3px 3px #0000004d;
  }
}

//news
.p-first-view__news {
  width: 142px;
  height: 76px;
  background-color: $accent-color;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  left: 3.33%;
  opacity: 0;
  position: absolute;
  bottom: 3.33%;
  animation: 2s fadeout-sp ease forwards;

  @include mq("pc") {
    width: 337px;
    height: 109px;
    left: auto;
    right: 3.33%;
    bottom: 3.33%;
    animation: 2s fadeout-pc ease forwards;
  }
}
@keyframes fadeout-sp {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes fadeout-pc {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.p-first-view__news.is-active {
  animation: 2s fadeup-sp ease forwards;
  @include mq("pc") {
    animation: 2s fadeup-pc ease forwards;
  }
}

@keyframes fadeup-sp {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeup-pc {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.p-first-view__news-wrapper {
  padding: 10px 7px 10px 10px;

  @include mq("pc") {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
  }
}
.p-first-view__news-heading {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mq("pc") {
    align-items: flex-start;
    flex-direction: column;
  }
}

.p-first-view__news-title {
  font-size: 14px;
  letter-spacing: 0.7px;
  font-family: $font-family;

  @include mq("pc") {
    font-size: 20px;
  }
}

.p-first-view__news-time {
  font-size: 10px;
  letter-spacing: 0.5px;
  font-family: $font-family;

  @include mq("pc") {
    font-size: 12px;
  }
}

.p-first-view__news-text {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;

  @include mq("pc") {
    font-size: 16px;
  }
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.p-first-view__scrolldown {
  opacity: 0;
  @include mq("pc") {
    opacity: 1;
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 1%;
    right: 50%;
    /*矢印の動き1秒かけて永遠にループ*/
    animation: arrowmove 1s ease-in-out infinite;
  }
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}

/*Scrollテキストの描写*/
.p-first-view__scrolldown span {
  font-family: $font-family;
  letter-spacing: 1.4px;
  /*描画位置*/
  position: absolute;
  left: -25px;
  bottom: 55px;
  /*テキストの形状*/
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

/* 矢印の描写 */
.p-first-view__scrolldown:before {
  height: 0;

  @include mq("pc") {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 2px;
    height: 20px;
    background: #fff;
    transform: skewX(-31deg);
  }
}

.p-first-view__scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 2px;
  height: 50px;
  background: #fff;
}
