@use "../global/variables" as *;
@use "../Foundation/mixin" as *;

.p-notice {
  position: relative;
  @include mq("pc") {
  }
}

.p-notice__wrapper {
  padding-bottom: 80px;

  @include mq("pc") {
    padding-top: 75px;
    padding-left: 203px;
  }
}

.p-notice__heading {
  @include mq("pc") {
    width: px-to-vw(400);
  }
}

.p-notice__heading-inner {
  padding-left: 15px;
  padding-right: 16px;
}

.p-notice__title-text {
  font-size: 30px;
  letter-spacing: 4px;

  @include mq("pc") {
    font-size: 40px;
  }
}

.p-notice__line {
  height: 12px;
  width: 129px;

  @include mq("pc") {
    height: 15px;
    width: 190px;
    margin-top: 6px;
  }
}

.p-notice__description {
  font-weight: 500;
  margin-top: 30px;

  @include mq("pc") {
    margin-top: 45px;
    line-height: 1.8;
    margin-bottom: 40px;
  }
}

.p-notice__view-more {
  margin: 0 auto;
  text-align: center;
  margin-top: 440px;
  padding-top: calc(22px - 3px);

  @include mq("pc") {
    margin: 0 auto;
  }
}

.p-notice__list {
  background-color: #fff;
  width: 361px;
  height: 381px;
  box-shadow: 1px 1px 10px #00000029;
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  top: 173px;
  right: 0px;
  padding-top: 30px;
  padding-left: 21px;

  @include mq("pc") {
    top: 0px;
    right: 0px;
    padding-top: 80px;
    padding-left: 50px;
    height: 440px;
    width: px-to-vw(680);
    border-radius: 100px 0px 0px 100px;
  }
}

ul.p-notice__list > li:nth-child(n + 2) {
  margin-top: 30px;

  @include mq("pc") {
    margin-top: 40px;
  }
}

.p-notice__item {
}

.p-notice__content {
}

.p-notice__content-inner {
  gap: 27px;
}

.p-notice__content-time {
  font-family: $font-family;
  letter-spacing: 0.8px;
}

.p-notice__content-category {
  font-weight: 500;
  text-align: center;
  width: 96px;
  height: 26px;
  background-color: $main-color;
  border-radius: 5px;
  font-size: 14px;
  padding-top: 3px;
  color: #fff;
}

.p-notice__content-text {
  margin-top: 10px;
  font-weight: bold;

  @include mq("pc") {
    font-size: 20px;
  }
}
